<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pandawork.home.mapper.user.UrlMapper">

    <select id="queryByPower" resultMap="pw.Url">
        SELECT * FROM t_url WHERE power = #{power}
    </select>

    <select id="queryByUrl" resultMap="pw.Url">
        SELECT * FROM t_url WHERE url = #{url}
    </select>
</mapper>